@{
    ViewBag.Title = "Welcome";
}

<div class="text-center" style="padding:20px 0;">
    <img src="~/Content/img/ptp-logo.jpeg" height="200" />
</div>

<div class="text-center">
    <img src="~/Content/img/back-soon-1.jpg" height="480" />
</div>

<p style="font-size:18px;font-weight:400;margin:20px 0;" class="text-center">For any type of queries please contact on +91 93200 01220</p>

<script>
    $(document).ready(function () {
        $(".navbar, footer, hr").hide();
    });
</script>